body
{
    text-align: center;
    font-family: "Arial";
}

h1
{
    color: blanchedalmond;
}

p
{
    color: rgb(134, 27, 27);
    font-size: x-large;
}

body, html
{
    background-image: url("star-wars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
