body
{
    text-align: center;
    font-family: "Arial";
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#cabecera
{
    color: blanchedalmond;
    font-size: 20px;
}

#container h1
{
    color: blanchedalmond;
}

p
{
    color: #f2f2f2;
    font-size: x-large;
}

body, html
{
    background-image: url("star-wars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
